{% extends "base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <!-- <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit">
    </form> -->
    {% if context.result %}
        <h3>Result:</h3>
        <ul class="ul-v">
        {% for page in context.result %}
            <li class="top-5">
                <a href="{{ url_for('page', page_name=page.name) }}">{{ page.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        No result.
    {% endif %}
{% endblock %}
